/.idea
/.vscode
/characters.c
/characters.exe
/characters.o
/code1s.c
/code1s.exe
/code1s.o
/css
/damas.html
/districts and provinces.html
/function.c
/function.exe
/function.o
/h.html
/practice.c
/practice.exe
/practice.o
/ta.html
/table.c
/table.exe
/table.o
/videos