.overview{
    padding: 4rem 0;
    background: #251818;
}
.features-grid{
    display: flex;
    gap: 2rem;
}
.feature-card{
    background: #393838;
    padding: 2rem;
    border-radius: 16px;
    box-shadow:0 8px 25px rgba(0, 0, 0, 0.05) ;
    transition: 0.2s;
}
.feature-card:hover{
     box-shadow: 0 8px 25px rgba(0,0,0,0.005);
}
.feature-card h3{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.feature-card p{
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}
