:root {
    --primary-blue: #007bff;

    /**/
    --dark-blue: rgb(4, 4, 197);

    /*Text Color*/
    --text-white: #fff;
    --text-light: #cdc6c6;
    --text-muted: #988f8f;
    --text-dark: #333;
    --text-active: #f1efef;

    /*Background Colors*/
    --bg-dark: black;
    --bg-gradient: rgba(0, 0, 0, 0.800);

    /*Link Colors*/
    --btn-gray: #333;
    --btn-gray-hover: #454343;

    /*Header background*/
    --border-transparent: transparent;

    /*Border Colors*/
    --overlay-gradient: #0001;
    --overlay-solid: #000;
}

*{
    color: var(--text-white);
}
body{
    font-family: 'Segoe UI', 'Open Sans','Verdana', sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background: radial-gradient(circle, var(--bg-gradient), var(--bg-dark));
}
.header{
    padding: 1rem 0;
    background: var(--border-transparent);
    border-bottom: 1px solid var(--border-transparent);
    position: sticky;
    top: 0;
    z-index: 100;
}
div{
    border-image: fill 0 linear gradient(var(--overlay-gradient), var(--overlay-solid));
}
.header-content{
    display: flex;/*Aligns elements on the same line*/
    gap: 500px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;/*Gap between logo and company name*/
    font-weight: 700;
    font-size: 1.4rem;
    color: blue;
    margin-left: 5%;
}
.header-actions{
    display: flex;
    gap: 30px;
    align-items: center;
}

